body{
    width: 100%;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 40%;
}
section img{
    width: 100%;
    margin: 0 30px ;
}

.social{
    display: flex;
    justify-content: center;
}
.content{
    display: grid;
    justify-content: center;
    color: #545454;
}
.social img{
   width: 50px;
   padding: 10px;
}
@media only screen and (min-width: 800px){
    body{
        width: 100%;
    }
    section{
        margin-top: 10%;
    }
    section img{
        width: auto;
    }
    .social img{
       width: 100%;
       padding: 10px;
    }
    .content{
        font-size: 25px;

    }
}
